# Making a csv file from only name data

In [1]:
import pandas as pd
import numpy as np
import requests

#Get api key from archive api.txt
#In the .txt is like API_KEY = '6c41b150c3ff8f156559f77f9a7a9d43'
API_KEY = open('api.txt').read().strip()
TOKEN = 'eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2YzQxYjE1MGMzZmY4ZjE1NjU1OWY3N2Y5YTdhOWQ0MyIsInN1YiI6IjY2NGNiMzVlYTk4M2UzN2YwMjdkMWMzYyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.xE94mpNF-EPT9QDhVhMvv6TLxSV_s1s98QlJS0wyMnw'

In [2]:
df = pd.read_csv('movies.csv')

In [3]:
df

                                                 title
0                              NightWatch 1994 Denmark
1                                  The quiet girl 2022
2             Picnic (1955) Kim Novak - William Hodeln
3    Paris When It Sizzles (Audrey Hepburn - Willia...
4              Strangers When We Meet (1960) Kim Novak
..                                                 ...
397                                             Dune 2
398                          ONE LIFE- ANTHONY HOPKINS
399                                        el outsider
400                          expiación, deseó y pecado
401                                        Flight Plan

[402 rows x 1 columns]

In [4]:
import re

# Constantes
DEFAULT_DATE = '2024-01-01'
words_not_in_title = ['PELICULON', 'MALA', 'ROMANTICA', 'miniserie', 'ROMCOM', 'COMEDIA', 'DRAMA', 'TERROR', 'ACCION', 'FR','Audrey Hepburn','(']

# Crear dos dataframes con las columnas requeridas
columns = ['tmdbID', 'title', 'year', 'watchedDate', 'rating']
df_not_watched = pd.DataFrame(columns=columns)
df_watched = pd.DataFrame(columns=columns)

# Agregar datos iniciales al dataframe
df['tmdbID'] = np.nan
df['year'] = np.nan
df['watchedDate'] = np.nan  # Inicializar como NaN
df['rating'] = np.nan

# Función para parsear los datos de las películas
def parse_movie_data(movie_data, words_not_in_title):
    # Extraer el año
    year_match = re.search(r'\((\d{4})\)|(\d{4})', movie_data)
    if year_match:
        year = year_match.group(1) if year_match.group(1) else year_match.group(2)
    else:
        year = np.nan

    # Extraer el título (antes del año)
    title_part = re.split(r'\(\d{4}\)|\d{4}', movie_data)[0].strip()
    
    # Limpiar el título eliminando palabras no deseadas y cualquier texto adicional
    for word in words_not_in_title:
        title_part = re.sub(r'\b' + re.escape(word) + r'\b', '', title_part)
    title = title_part.split('-')[0].strip()

    return title, year

# Aplicar la función de parsing al dataframe
df[['title_clean', 'year']] = df.apply(lambda row: pd.Series(parse_movie_data(row['title'], words_not_in_title)), axis=1)

# Encontrar el índice del título 'Dead Poets Society'
def split_watched(df, split_title):
    split_index = df.index[df['title_clean'] == split_title].tolist()
    if split_index:
        split_index = split_index[0]
        df_not_watched = df.iloc[:split_index].copy()  # Películas no vistas antes de "Dead Poets Society"
        df_watched = df.iloc[split_index:].copy()  # Películas vistas desde "Dead Poets Society" inclusive
        return df_watched, df_not_watched
    else:
        return pd.DataFrame(), df  # Return empty DataFrame if split_title not found

df_watched, df_not_watched = split_watched(df, 'VIEWED')

# Actualizar la columna watchedDate para las películas vistas
if not df_watched.empty:
    df_watched['watchedDate'] = DEFAULT_DATE

# Combinar ambos dataframes en uno solo
df_combined = pd.concat([df_not_watched, df_watched]).reset_index(drop=True)

# Filtrar y actualizar el dataframe combinado
df_combined['title_clean'], df_combined['year'] = zip(*df_combined['title'].apply(lambda x: parse_movie_data(x, words_not_in_title)))

In [5]:
#Show head of the dataframe with columns that have rating
df_not_watched

,title,tmdbID,year,watchedDate,rating,title_clean
0,NightWatch 1994 Denmark,NaN,1994,NaN,NaN,NightWatch
1,The quiet girl 2022,NaN,2022,NaN,NaN,The quiet girl
2,Picnic (1955) Kim Novak - William Hodeln,NaN,1955,NaN,NaN,Picnic
3,Paris When It Sizzles (Audrey Hepburn - Willia...,NaN,NaN,NaN,NaN,Paris When It Sizzles (
4,Strangers When We Meet (1960) Kim Novak,NaN,1960,NaN,NaN,Strangers When We Meet
...,...,...,...,...,...,...
249,Tarantino,NaN,NaN,NaN,NaN,Tarantino
250,The margin call,NaN,NaN,NaN,NaN,The margin call
251,The Boiler room,NaN,NaN,NaN,NaN,The Boiler room
252,Un Cuento Chino,NaN,NaN,NaN,NaN,Un Cuento Chino
253,The Lost Daughter,NaN,NaN,NaN,NaN,The Lost Daughter

In [6]:
#Filtrar peliculas que contengan watchDate
df_watched

,title,tmdbID,year,watchedDate,rating,title_clean
254,VIEWED,NaN,NaN,2024-01-01,NaN,VIEWED
255,Dead Poety Society,NaN,NaN,2024-01-01,NaN,Dead Poety Society
256,PAST LIVES,NaN,NaN,2024-01-01,NaN,PAST LIVES
257,To the wonder Ben affleck MALA,NaN,NaN,2024-01-01,NaN,To the wonder Ben affleck
258,Hollywood (miniserie) 2020 SESIÓN,NaN,2020,2024-01-01,NaN,Hollywood ()
...,...,...,...,...,...,...
397,Dune 2,NaN,NaN,2024-01-01,NaN,Dune 2
398,ONE LIFE- ANTHONY HOPKINS,NaN,NaN,2024-01-01,NaN,ONE LIFE
399,el outsider,NaN,NaN,2024-01-01,NaN,el outsider
400,"expiación, deseó y pecado",NaN,NaN,2024-01-01,NaN,"expiación, deseó y pecado"
401,Flight Plan,NaN,NaN,2024-01-01,NaN,Flight Plan

In [7]:

def get_tmdb_id(title,year,language='en-US'):
    # url = "https://api.themoviedb.org/3/search/movie?query=picnic&include_adult=true&language=en-US&year=1955"
    url = f"https://api.themoviedb.org/3/search/movie?query={title}&include_adult=true&language={language}&year={year}"

    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2YzQxYjE1MGMzZmY4ZjE1NjU1OWY3N2Y5YTdhOWQ0MyIsInN1YiI6IjY2NGNiMzVlYTk4M2UzN2YwMjdkMWMzYyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.xE94mpNF-EPT9QDhVhMvv6TLxSV_s1s98QlJS0wyMnw"
    }

    response = requests.get(url, headers=headers)
    ## Get the first result
    if response.status_code == 200:
        data = response.json()
        if data['results']:
            return data['results'][0]

In [8]:
import time
movies_not_found = []
final_df = pd.DataFrame(columns=['tmdbID', 'title', 'year', 'watchedDate'])
for index, row in df_watched.iterrows():
    title = row['title_clean']
    year = row['year']
    tmdb_data = get_tmdb_id(title,year)
    if tmdb_data:
        #add to the final dataframe
        final_df.loc[index] = [tmdb_data['id'], tmdb_data['title'], year, row['watchedDate']]
    else:
        movies_not_found.append(title)
        print(f"Movie not found: {title}")

Movie not found: Dead Poety Society
Movie not found: To the wonder Ben affleck
Movie not found: El hombre irracional
Movie not found: Editando el Amor
Movie not found: Bajo el sol de Toscana 8/10
Movie not found: MIELE ITALIAN
Movie not found: Kids in Love hopeless love
Movie not found: Duelo Steven spielberg
Movie not found: Normal People SERIE 8/10
Movie not found: Una pasión secreta Kate winslet
Movie not found: Million Dollar Baby Clint Eastwood
Movie not found: Love and Other Drugs anne hatteway
Movie not found: Solo un Hombre Collin firth (6.5/10)
Movie not found: Roman Holiday
Movie not found: Como robar un millón de dólares Wyler
Movie not found: La mentira infame William Wyler
Movie not found: el insulto (libanésa) 8/10
Movie not found: Wall Street: Money Never Sleeps
Movie not found: blade runner
Movie not found: wiplash
Movie not found: Mis dos vidas (romántica) 7/10
Movie not found: la odisea de los giles 7.7/10
Movie not found: match point woody allen
Movie not found: operación telemark
Movie not found: Número 23 Jim carrey
Movie not found:
Movie not found: The piladelphia experiment
Movie not found: American histoyry
Movie not found: Definitely, Maybe Ryan Reynolds RomCom
Movie not found: Kramer vs kramer 7.5/10
Movie not found: la ciudad de tu destino final 7/10 drama en uruguay antony hopkins
Movie not found: Teheran Serie
Movie not found: ludmyla pavlichenko
Movie not found: Drive Ryan gosling 5.5/10
Movie not found: Ventajas de der invisible
Movie not found: recuérdame  r.pattinson
Movie not found: diario de una pasión Rachel Mcadams
Movie not found: Narvik II GUERRA MUNDIAL Noruega
Movie not found: tropas de elite 7.8/10 BRAZIL
Movie not found: V de vendeta 8.5/10
Movie not found: Ciudad de dios 9.6/10
Movie not found: Isla siniestra 9.7/10

KeyboardInterrupt:

In [ ]:
final_df

     tmdbID                    title  year  watchedDate
0      6498               NightWatch  1994          NaN
1    916405           The quiet girl  2022          NaN
2     39940                   Picnic  1955          NaN
3     22829  Paris When It Sizzles (   NaN          NaN
4     85926   Strangers When We Meet  1960          NaN
..      ...                      ...   ...          ...
248    2100          the last castle   NaN          NaN
249  701215                Tarantino   NaN          NaN
251  199109          The Boiler room   NaN          NaN
252   67884          Un Cuento Chino   NaN          NaN
253  554230        The Lost Daughter   NaN          NaN

[221 rows x 4 columns]

In [ ]:
#Save the final dataframe to a csv file
final_df.to_csv('final_movies.csv', index=False)

#Save the movies not found to a csv file
pd.DataFrame(movies_not_found, columns=['title']).to_csv('movies_not_found.csv', index=False)